{% extends 'app/dummy.html' %}

{% block title %}
<title>Details Page</title>
{% endblock %}

{% block body_block %}
<center>
    <h1>Details of School</h1>
    <placeholder<h1>School name:{{school.name}}</h1>
    <h3>School principal is:{{school.principal}}</h3>
    <h3>school address is:{{school.address}}</h3>

    {% for i in school.students.all %}
    <h5>student id is:{{i.sid}}</h5>
    <h5>student name  is: {{i.sname}}</h5>
    {% endfor%}


    <a href="{% url 'SchoolUpdate' pk=school.pk %}" class="btn btn-success">UPDATE</a>
    <a href="{% url 'SchoolDelete' pk=school.pk %}" class="btn btn-danger">DELETE</a>
</center>
 
{% endblock %}